/* Footer.module.css */

.container {
  /* your existing styles */
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.1); /* Slightly scale up on hover */
}

.iconHover:hover {
  color: #fff; /* Change the color to your preferred hover color */
  transform: rotate(360deg); /* Rotate 360 degrees on hover */
}

.linkHover:hover {
  color: #fff; /* Change the color to your preferred hover color */
  transform: translateY(-5px); /* Move up 5 pixels on hover */
}

/* Add the wave animation */
.wave {
  animation: wave 1.5s infinite alternate ease-in-out;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
